@page

<div class="row">
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr/>
    </div>
</div>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Room Name</div>
        <div class="col-4">
            <input type="text" id="roomNameInput"/>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="joinRoomButton" value="Join Room"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4">
            <input type="text" id="messageInput"/>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message"/>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>